<h1>{{config.repository.title}}</h1>
<p class="lead">{{config.repository.description}}</p>
<p class="lead">{{{about.html}}}</p>

{{^about}}
  <div class="alert alert-info">
    To add a description of your blog, add a "about.md" file in the "partials/" directory of <a href="{{config.repository.url}}" class="alert-link">your repository</a>.
  </div>
{{/about}}

{{#posts}}
  {{>_post_item}}
{{/posts}}

{{^posts}}
  <div class="alert alert-info">
    There are no posts yet. To add a post, add a markdown file with the `.md` extension in the "posts/" directory of <a href="{{config.repository.url}}" class="alert-link">your repository</a>.
  </div>
{{/posts}}

