<div class="_post">
  <div class="post">
    <h1 class="title">{{{post.title}}}</h1>
    <div class="byline">
      <span class="author"><a href="{{post.author.url}}">{{post.author.displayName}}</a></span> | 
      <span class="timeago" data-date="{{post.date}}"></span>
    </div>
    <p class="lead">{{{post.lead}}}</p>
    {{{post.html}}}
  </div>
  {{>_about}}
</div>
